.about {
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.about-left {
    flex-basis: 40%; 
    position: relative; 
    border-radius: 10px; 
    overflow: hidden;
}

.about-right {
    flex-basis: 56%;
}

.about-img {
    width: 100%;
    display: block;
}

.play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px; 
    cursor: pointer;
    z-index: 2; 
}

.about h3 {
    font-weight: 600;
    font-size: 16px;
    color: #212ea0;
}

.about h2 {
    font-size: 35px;
    margin: 10px 0;
    color: #000f38;
    max-width: 400px;
}

.about p {
    color: #676767;
    margin-bottom: 15px;
}



.about-video-overlay {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    z-index: 5; 
}

/*----- media query -----*/
@media (max-width: 800px) {
    .about {
        flex-direction: column;
    }

    .about-left {
        flex-basis: 100%;
        margin-top: 30px; 
        order: 2;
    }

    .about-right {
        flex-basis: 100%;
    }
}